<html>
  <head>
    <title>小工具</title>
    <link rel="stylesheet" href="<%- css.elementUiCss %>">
    <link rel="stylesheet" href="<%- css.globalCss %>">
    <script src="<%- js.vueJs %>"></script>
    <script src="<%- js.elementUiJs %>"></script>
  </head>
  <body>
    <div id="app">
      <!-- 导航区域 -->
      <el-tabs type="border-card" tab-position="left" style="height: calc( 100vh - 5px );">
        <el-tab-pane label="配置">
          <el-button @click="saveAllConfig" type="primary">存储所有配置</el-button>
          <el-divider content-position="left">mysql配置</el-divider>
          <el-form ref="form" label-width="80px" size="mini">
            <el-row>
              <el-col v-for="(item,index) in config.mysql" :key="index" :span="12">
                <el-form-item :label="item.label" :prop="item.fieldName" label-width="130px">
                  <el-input v-model="item.value"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </el-tab-pane>
        <el-tab-pane label="生成交易">生成交易</el-tab-pane>
        <el-tab-pane label="生成F表">生成F表</el-tab-pane>
        <el-tab-pane label="生成接口">生成接口</el-tab-pane>
        <el-tab-pane label="缓存">缓存</el-tab-pane>
      </el-tabs>
             
    </div>
  </body>
  <script src="<%- js.mainJs %>"></script>
</html>