body.vscode-light {
  color: black;
}

body.vscode-dark {
  color: black;
}

body.vscode-high-contrast {
  color: red;
}
element {
  --vscode-editor-font-size:12px;
  --vscode-editor-background:white;
}
body{
  background: white;
  margin: 0;
  padding: 0;
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
}